
<div class="f-info">
    <div class="f-info-socials f-element">
        <a href="https://www.facebook.com/aaron.sanki/"><i class="fa-brands fa-square-facebook translucent"></i></a>
        <a href="https://www.instagram.com/aaron_sanki/"><i class="fa-brands fa-square-instagram translucent"></i></a>
        <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin translucent"></i></a>
        <a href="https://twitter.com/AaronSanki88429"><i class="fa-brands fa-square-x-twitter translucent"></i></a>
        <a href="https://github.com/AaronSanki"><i class="fa-brands fa-square-github translucent"></i></a>
    </div>
    <div class="f-company f-element" style="font-size: 20px;">&copy;WanderLust Pvt Ltd.</div>
    <div class="f-info-links f-element">
        <a class="translucent" style="margin: .5rem;" href="#">Privacy</a>
        <a class="translucent" style="margin: .5rem;" href="#">Terms</a>
    </div>
</div> 
